@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700i|Karla');
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1300px;
}
header{
    background-image: url(../img/things-arranged-3.jpg);
    width: 1300px;
    height: 637px;
}
.logo{
    height: 61px;
}
.logo_link{
    position: absolute;
    left: 13%;
    top: 7%;
    display: block;
    text-decoration: none;
    color: white;
}
.logo_link p{
    width: 105px;
    height: 21px;
    font-family: 'Asap', sans-serif;
    font-size: 28px;
    line-height: 53px;
}
.logo_img{
    width: 105px;
    height: 23px;
    display: block;
}
.header_title{
    height: 94px;
}
.header_title h1{
    width: 376px;
    height: 83px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    position: absolute;
    top: 180px;
    left: 165px;
}
.list{
    width: 220px;
    height: 220px;
    opacity: 0.92;
    background-color: #2ecc71;
    position: absolute;
    top: 326px;
}